form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* z-index: 10000; */
    overflow-y: auto;
}

.submitButton{
    color: white;
    padding: 15px 10px;
    background-color: red;
    border-radius: 5px;
    border-style: hidden;
    margin-top: 50px;
    cursor:pointer;
}


.address-input:placeholder-shown::before {
    content: attr(placeholder);
    color: #aaa;
}

#modal-content{
    /* padding: 20px; */
    /* width: 45%; */
    /* max-width: 50%; */
    /* height: auto; */
    /* max-height: 70%; */
    z-index: 1000;
    box-shadow: 0px 0px 10px darkgray;
}

#modal-content h1{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 15px;

}

#modal-content form {
    padding: 24px;
}

#welcome-message{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.errors-list-container{
    list-style: none;
    color: red;
}

.create-form{
    display: flex;
    overflow-y: scroll;
    /* position: relative; */
    height: 60vh;
    /* gap: 10px; */
    width: 500px;
}

.create-form::-webkit-scrollbar{
    display: none;
}

#create-price{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 24px;
}

.create-form label{
    display: flex;
    flex-direction: column;
    /* display: none; */

}

.create-form label input {
    /* border-radius:0px; */
    height: 30px;
    padding: 10px;
    border-width: 0.5px;

}

.first{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.last{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}