.home-Card{
    border: 1px hidden black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 270px;
}

.home-page{
    display: grid;
    /* margin: 0px 50px; */
    grid-template-columns: repeat(6, 270px);
    grid-auto-flow: row dense;
    grid-gap: 20px;
    padding: 0px 80px;
    /* width: 100%; */
    overflow-x: auto;
    overflow-y: hidden;
}

.home-page-container{
    width: 100%;
    /* display: flex; */
}

.preview-img{
    width: 270px;
    height: 250px;
    border-radius: 10px;
}

.img-border{
    width: 270px;
}

.spot-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avg-rating{
    display: flex;
    justify-content: space-around
}

.card-info{
    display: flex;
    color: gray;
}

.rating{
    display: flex;
    align-items: center;
}

.rating-location{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 2px;
}
.card-price{
    margin-top: 8px;
}

.footer{
    position: sticky;
    display: flex;
    bottom: 0;
    height: 40px;
    align-items: center;
    z-index: 999;
    border-top: 1px solid gray;
    /* width: 100%; */
    background-color: white;
    padding: 0px 80px;
    gap: 5px;
    justify-content: space-between;
}

#card-stars{
    color: black;
}

#coding-components{
    justify-self: flex-end;
}
#coding-components span {
    padding-right: 7px;
}

.app-copyright{
    display: flex;
    align-items: center;
    gap: 5px;
}
