.create-reviews-form{
    display: flex;
    /* overflow-y: scroll; */
    height: 30vh;
    position: relative;
    width: 16vw;
}

.create-reviews-form::-webkit-scrollbar{
    display: none;
}


.create-reviews-form label{
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-reviews-form label input{
    /* margin: '0 auto'; */
    padding: 10px 20px;
    /* width:max-content; */
}

.create-reviews-form label textarea{
    padding: 10px 20px;
}

.reviews-submit{
    width: 220px;

}

.review-input{
    width: 100%;
}
