.profile-pic{
    width: 40px;
}

.review-container{
    border: 1px gray hidden;
    width: 50%;
    height: 190px;
}

.profile-container{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
