.hidden {
    display: none;
}

.header{
    position: sticky;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 20px 80px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header2{
    position: sticky;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 20px 380px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile-button{
    float: right;
    align-self: center;
}

.home-text{
    color: red;
    font-size: 25px;
}
.fa-airbnb{
    color: red;
    transform: rotate(150deg);
}

.button-container{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 65px;
    height: max-content;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
    gap: 15px;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    cursor:pointer;
}

.create-spot-button:hover{
    background-color: lightgray;
}


.create-spot-button{
    color: darkgreen;
    border-radius: 15px;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
    cursor:pointer;
    height: 35px;
    padding: 0px 10px;
}


.profile-container2{
    display: flex;
    align-items: center;
    gap: 15px;
}

.fa-user-circle{
    color: gray;
}

.create-spot{
    background-color: white;
}

/* .create-spot:hover{
    background-color: lightgray;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 10px;
} */
