.hidden {
    display: none;
}

.header{
    border-bottom: 1px solid gray;
    padding: 20px 40px;
    margin-bottom: 20px;
    align-items: center;
}

.profile-button{
    float: right;
    align-self: center;
}

.home-text{
    color: red;
}
.fa-airbnb{
    color: red;
    transform: rotate(150deg);
}

.button-container{
    display: flex;
    justify-content: space-around;
    width: 50px;
    border-radius: 15px;
    border-width: 1px;
    padding: 5px 5px;
}
