

.login-form{
    height: 100%;
    display: flex;
    justify-content: center;
}


.login-form label{
    display: flex;
    flex-direction: column;
}


.login-form label input {
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}
